            <div class="row">
                <!-- Blog Post Content Column -->
                <div class="col-lg-8">
                    <!-- Blog Post -->
                    <!-- Title -->
                    <h1><%= @article.title %></h1>
                    <!-- Author -->
                    <p class="lead">
                    by <a href="https://www.facebook.com/vietch2612">Cao Hoai Viet</a>
                </p>
                    <hr>
                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Posted at: <%= @article.created_at.to_formatted_s(:long_ordinal) %></p>
                    <hr>
                    <!-- Preview Image -->
                    <img class="img-responsive" src="<%= @article.img_url %>" alt="">
                    <hr>
                    <!-- Post Content -->
                    <p class="lead">Categories : <%= @category_title.title %></p>
                    <p><%= @article.text %></p>
                    <hr>
                    <!-- Blog Comments -->
                    <!-- Comments Form -->
                    <%= render 'comments/form'%>
                    <!-- Posted Comments -->
                    <!-- Comment -->
                    <hr>
                    <% @article.comments.each do |comment| %>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://i.imgur.com/XAYgbnr.png" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%= comment.commenter%>
                                    <small><%= comment.created_at.to_formatted_s(:long_ordinal) %></small>
                                </h4>
                                <%= comment.body%>
                            </div>
                        </div>
                    <% end %>
                </div>
                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">
                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>
                    <!-- Blog Categories Well -->
                    <%= render 'layouts/categories'%>
<!-- Side Widget Well -->
<div class="well">
<h4>Side Widget Well</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>
</div>
</div>
<!-- /.row -->
<hr>
<!-- Footer -->
